table {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    width: 200%;
}

table tbody tr:nth-child(even) {
    background-color: rgba(51,135,255);
    color: #180472;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: rgb(51,135,255, 0.8);
    color: #180472;
  }

th, td {
    border: 1px solid;
}


h1 {
    text-align: center;
    display: inline-block;
    width: 50%;
}
thead {
    background-color: rgb(27,30,10);
    color: rgb(220,220,220);
}

hr {
    color: black;
    size: 5px;
    width: 100%;
    
}

.pageContainer {
    display: flex;
    
}

.column {
    flex: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
}

.smallColumn {
    flex: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    height: 580px;
}

.panelNav {
    display: flex;
}

.panelNav > button {
    flex: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
    text-align: center;
}

.score {
    width: 100%;
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }