table {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
}

.a {
    padding: 670px;
}

h1 {
    text-align: center;
}

hr {
    color: black;
    size: 5px;
    width: 100%;
}